{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <section class="text-center px-4 py-4">
        <h1 class="h2 text-uppercase mb-3">Les Catégories</h1>
        <p>Sélectionner une ou plusieurs catégories</p>
        <form method="get">
                <fieldset class="form-group">
                    <div id="categories" class="row">

                        <div class="form-check col-lg-3 col-6 m-auto ">
                            <input type="checkbox" id="categories_1" name="categories[]" class="categories form-check-input" value="1">
                            <label class="labelname form-check-label text-white" for="categories_1">Bracelets</label>
                        </div>

                        <div class="form-check col-lg-3 col-6 m-auto ">
                            <input type="checkbox" id="categories_2" name="categories[]" class="categories form-check-input" value="2">
                            <label class="labelname form-check-label text-white" for="categories_2">Minéreaux</label>
                        </div>

                        <div class="form-check col-lg-3 col-6 m-auto ">
                            <input type="checkbox" id="categories_3" name="categories[]" class="categories form-check-input" value="3">
                            <label class="labelname form-check-label text-white" for="categories_3">Colliers</label>
                        </div>

                        <div class="form-check col-lg-3 col-6 m-auto ">
                            <input type="checkbox" id="categories_4" name="categories[]" class="categories form-check-input" value="4">
                            <label class="labelname form-check-label text-white " for="categories_4">Objets</label>
                        </div>

                    </div>
                </fieldset>
                {{ form_widget(form.rechercher) }}
                {{ form_widget(form._token) }}
        </form>
    </section>

<hr>
    <section>
        <h1 class="h2 text-center text-uppercase mt-5 ">Nos meilleures ventes</h1>
        <p class="text-center ">Découvrez les articles les plus vendus</p>
        <div class="row">
            {% for product in products %}
            <div class="col-sm-3 col-6 m-auto">
            {% include "product/single_product.html.twig" %}
        </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}

