body{
    font-family: 'Mukta',"Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    background-color: #FFF8F8;
    color: black;
}
a{
    color: #17a2b8;
}

a:hover{
    color: #778ca3;
    text-decoration: none;
}

/*header*/
header{
    background-color: #464646;
    padding: 1.5rem 0;
    font-size: 1.3rem;
}

.navbar-nav{
    padding-inline-start: 5px;
}

.form{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.site-logo{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.6rem;
    border: 2px dotted white;
    border-radius: 20px;
}

/*section categories*/

.image-zoom {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .6);
    overflow: hidden;
    cursor: pointer;
}

.cat{
    transition: transform .5s;
}

.cat:hover {
    transform: scale(1.3);
}

input[type="checkbox"].categories {
    display: none;
}

input[type="checkbox"].categories + label {
    width: 100%;
    padding: 100px 0;
    border-radius: 20px;
    box-shadow: 10px 12px 15px #464646;
    animation: gradientR .2s forwards;
}

input[type="checkbox"].categories:checked + label {
    box-shadow: inset 10px 12px 15px #464646;
    animation: gradient .2s forwards;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0) 0%, #464646 0%, #464646 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0.3) 24%, #464646 25%, #464646 100%);
    }
    50% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0.5) 49%, #464646 50%, #464646 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0.8) 74%, #464646 75%, #464646 100%);
    }
    100% {
        background: radial-gradient(circle at center, #17a2b8 99%, #464646 100%, #464646 100%);
    }
}

@keyframes gradientR {
    100% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0) 0%, #464646 0%, #464646 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0.3) 24%, #464646 25%, #464646 100%);
    }
    50% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0.5) 49%, #464646 50%, #464646 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba(23, 162, 184, 0.8) 74%, #464646 75%, #464646 100%);
    }
    0% {
        background: radial-gradient(circle at center, #17a2b8 99%, #464646 100%, #464646 100%);
    }
}

.btn-dark{
    font-size: 18px;
}

hr{
    width: 100%;
}


@media all and (max-width:500px){
    #h2-cat{
        font-size:20px;
        bottom:10px;
    }
}

/*produit*/


.product-description{
    white-space: pre;
}

.product-item h5{
    text-transform: uppercase;
    margin-bottom: 1px;
}

.product-item{
    margin-top:50px;
    font-size: 16px;
}

.product-item .product-subtitle{
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price{
   font-weight: bold;
}

.product-container{
    margin-bottom: 150px;
}

.product-page-price{
    font-size: 20px;
}
/*panier*/

.block-small{
    max-width: 600px;
    margin: auto;

}
/*form*/

.form-check{
    padding: 10px 30px;
    margin: 7px 50px 0 0;
}

#submit{
    padding: 5px 30px;
    background-color: #464646;
    border-color: #464646;
}

.col-form-label{
    font-size: 1.3em;
    text-decoration: underline;
}

.order-summary{
    padding: 20px;
    margin-top: 22px;
}

/*compte*/

.account-item {
    border: 2px solid #17a2b8;
    padding: 70px;
}

/* Carousel */

.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
    height: 30rem;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

}
/*footer*/

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #464646;
    padding: 30px 0;
    color: white;
}

