{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Lady Fantastique{% endblock %}

{% block content %}
<div class="block-small">
   <h2>Page introuvable</h2>
   <p>Cette page n'existe pas ou n'est pas accessible pour le moment</p>
   <a href="{{path('home')}}"  class="btn btn-info">Revenir a l'accueil</a>
</div>

{% endblock %}
